<app-navbar></app-navbar>
<app-messages-customer (emitResponses)="responses=$event" (emitPhones)="sendPhones($event)"></app-messages-customer>
<app-info-customer [phones]="phones"  class="mt-5"></app-info-customer>


<div class="container mt-5">
    <table class="table" *ngIf="responses.length != 0">
        <tr>
            <th>Success</th>
            <th>Result</th>
        </tr>
        <tbody>
            <tr *ngFor="let res of responses">
                <td>
                    {{ res.success}}
                </td>
                <td>
                    {{ res.result }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
